#content {
    min-height   : 700px;
    margin-left  : 5px;
    margin-right : 5px;
    margin-bottom:15px;
    #menu {
        >.list-group {
            margin-bottom:0px;
        }
    }
}

.no-lr-padding {
    padding-left  : 0px;
    padding-right : 0px;
}
